services:

    postgres:
      image: postgres:15
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./db/init:/docker-entrypoint-initdb.d       # init scripts
      restart: unless-stopped
  
    redis:
      image: redis:7
      ports:
        - "6379:6379"
      volumes:
        - redis_data:/data
  
    qdrant:
      image: qdrant/qdrant:latest
      ports:
        - "6333:6333"
      volumes:
        - qdrant_data:/qdrant/storage
      restart: unless-stopped

    qdrant-init:
      image: curlimages/curl:8.6.0
      depends_on:
        - qdrant
      environment:
        QDRANT_URL: http://qdrant:6333
        QDRANT_COLLECTION_ALIAS: movies
        QDRANT_PHYSICAL_COLLECTION: movies_v1
      volumes:
        - ./db/init/02_qdrant_init.sh:/qdrant_bootstrap.sh:ro
      entrypoint: ["/bin/sh", "/qdrant_bootstrap.sh"]
      restart: "no"
  
    api:
      build: ./api
      ports:
        - "8000:8000"
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_HOST: postgres
        REDIS_HOST: redis
        QDRANT_HOST: qdrant
      depends_on:
        - postgres
        - redis
        - qdrant
      volumes:
        - ./api:/app
        - ./db:/app/db
        - ./implementation:/app/implementation

volumes:
    postgres_data:
    redis_data:
    qdrant_data: